.wrapper-items {
    border: 1px solid #efefef;
    border-radius: 8px;

.item {
    cursor: pointer;
    min-height: 52px;
    padding: 12px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    > div {
      display: flex;
      align-items: center;
      gap: 12px;
    }

    &:not(:first-of-type) {
        border-top: 1px solid #efefef;
      }
  }
}