
::ng-deep {
    .s-large-dialog {
        max-width: 450px;
        width: 450px!important;
    }

    .mat-mdc-dialog-content {
        max-height: 70vh;
    }
}


.client-photo, .service-photo {
    width: 35px;
    height: 35px;
}

.service-content {
    max-height: 150px;
    overflow-y: auto;
} 

:host {
    ::ng-deep {
        mat-button-toggle-group {
            border-radius: 99999px;
        }
    }
}