:host {
    ::ng-deep {
        .mat-mdc-card-content {
            padding: 0!important;
        }
    }
}

.appointments-container {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(1, 1fr);
    gap: 16px;
}

.barbershop-logo {
    max-width: 75px;
    width: 75px;
    max-height: 75px;
    height: 75px;
    object-fit: cover;
}

.company-content {
    max-width: 150px;

    @media (max-width: 599px) {
        max-width: 100px;
    }
}