.background-image {
    background-image: url('/assets/icons/barbershop-background-2.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.icon-container {
    width: 200px;
}

.login-container {
    min-height: 100vh;
}

.form-container {
    max-width: 340px;
    width: 100%;
}

.login-content {
    background-color: white!important;
}