:host {
    .mf-loading-backdrop {
        position: absolute;
        min-height: 100vh;
        height: 100%;
        width: 100vw;
        z-index: 1000;
        box-sizing: initial;

        > div.mf-loading-content {
            position: absolute;
            top: 50vh;
            left: 50%;
            translate: -50% -50%;
        }
    }
}