<div class="d-flex flex-column column-gap-2 mb-3"> 
  <h4>{{ I18N_PREFFIX + "title-section" | transloco  }}</h4>
  <p>{{ I18N_PREFFIX + "description" | transloco }}</p>
</div>

<lib-input
    matPrefix="search"
    [label]="I18N_PREFFIX + 'search' | transloco"
    [placeholder]="I18N_PREFFIX + 'search' | transloco"
    [formControlRef]="searchForm"
>
</lib-input>


<div class="mat-elevation-z8 overflow-scroll table-wrapper" [libSpinner]="isLoading()">
  <table mat-table [dataSource]="dataSource()">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
    
      <!-- Checkbox Column -->
      <ng-container matColumnDef="checkbox">
        <th mat-header-cell *matHeaderCellDef> {{ I18N_PREFFIX + "active-th" | transloco }} </th>
        <td mat-cell *matCellDef="let element">
          <mat-checkbox color="primary" [checked]="element.checked" (change)="toggleService(element.documentId)" />
        </td>
      </ng-container>
    
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> {{ I18N_PREFFIX + "name-th" | transloco }} </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
    
      <!-- Photo Column -->
      <ng-container matColumnDef="photo">
        <th mat-header-cell *matHeaderCellDef> {{ I18N_PREFFIX + "photo-th" | transloco }} </th>
        <td mat-cell *matCellDef="let element">
          <img class="user-icon rounded-circle" [src]="element.photo?.url | getImgUrl" alt="service photo">
        </td>
      </ng-container>
    
      <!-- Duration Column -->
      <ng-container matColumnDef="duration">
        <th mat-header-cell *matHeaderCellDef> {{ I18N_PREFFIX + "duration-th" | transloco }} </th>
        <td mat-cell *matCellDef="let element"> {{element.duration}} min </td>
      </ng-container>

      <ng-container matColumnDef="professionalPercentage">
        <th mat-header-cell *matHeaderCellDef> {{ I18N_PREFFIX + "professionalPercentage-th" | transloco }} </th>
        <td mat-cell *matCellDef="let element"> {{element.professionalPercentage}}% </td>
      </ng-container>

      <!-- Value Column -->
      <ng-container matColumnDef="value">
        <th mat-header-cell *matHeaderCellDef> {{ I18N_PREFFIX + "value-th" | transloco }} </th>
        <td mat-cell *matCellDef="let element"> {{element.value}} </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator 
    [pageSizeOptions]="[10, 20, 50]"
    [hidePageSize]="isMobile()"
    [pageSize]="pagination.pageSize()"
    [pageIndex]="pagination.page() - 1"
    [length]="pagination.total()"
    (page)="handlePageEvent($event)"
    aria-label="Select page of services">
  </mat-paginator>
</div>