.img-carousel {
    height: 300px;
    object-fit: cover;
    width: 100%;

    @media (min-width: 768px) { 
        height: 500px;
    }
}

.barbershop-logo {
    max-width: 75px;
    width: 75px;
    max-height: 75px;
    height: 75px;
    object-fit: cover;
}

.animated-pulse {
    animation: pulse 2s infinite;
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05);
    }
    100% {
      transform: scale(1);
    }
  }