:host {
    &::ng-deep {
        .mat-toolbar {
            background-color: var(--c-primary);
            box-shadow: 0px 0px 8px rgba(0, 0, 0, .6);
        }
    } 
}

.menu-icon {
    transform: translateX(-12px);
}

.menu {
    padding: 15px;
    position: fixed;
    left: 0;
    top: var(--mat-toolbar-standard-height);
    width: 100%;
    z-index: 3;
    background-color: #f8f9fa;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, .6);

    @media (max-width: 599px) {
        top: var(--mat-toolbar-mobile-height);
    }
}

.title {
    font-size: 20px;
    font-weight: 500;
}

nav.nav-desktop {
    a {
        color: var(--c-ligth-primary-text)!important;
        font-size: 16px;
    }
}


.icon-bar {
    width: 22px;
    height: 2px;
    background: var(--c-ligth-primary-text);
    margin: 3px;
    position: relative;
  }

  .header {
    display: flex;
    justify-content: space-between;
  }