@import "./pallete.scss";

:root {
  --c-primary: #25345d;
  --c-secondary: #c07a31;
  --c-accent: #be232f;
  --c-bg: #f2f5fb;
  --c-surface: #ffffff;
  --c-dark-primary-text: #19202d;
  --c-light-primary-text: #ffffff;
  --c-ligth-primary-text: #ffffff;
}

body {
  min-height: 100vh;
  background: linear-gradient(180deg, #f7f9fd 0%, #eff4fb 45%, #f6f8fb 100%);
  color: var(--c-dark-primary-text);
}

.c-primary {
  color: var(--c-primary);
}

.c-secondary {
  color: var(--c-secondary);
}

.c-ligth-primary-text {
  color: var(--c-ligth-primary-text);
}

.c-accent {
  color: var(--c-accent);
}

.c-bg {
  background-color: var(--c-bg);
}

.c-light-primary-text {
  color: var(--c-light-primary-text);
}

.cursor-pointer {
  cursor: pointer;
}

a {
  text-decoration: none !important;

  &.underline {
    &:hover {
      text-decoration: underline !important;
    }
  }
}

.cdk-overlay-pane.mat-mdc-dialog-panel.s-large-dialog {
  min-width: 450px;
  max-width: 600px;
  @media (max-width: 599px) {
    min-width: 90vw;
    max-width: 90vw;
  }
}

.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 350ms;
}

h4,
h3,
h2,
h1 {
  font-family: "Oswald", sans-serif !important;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.main-header-page {
  position: relative;
  margin-bottom: 40px;
  &:after {
    position: absolute;
    display: block;
    content: "";
    width: 5rem;
    border-bottom: 0.5rem solid var(--c-secondary);
    bottom: -12px;
  }
}

.custom-tooltip {
  white-space: pre-line;
  word-wrap: break-word;
}

@for $i from 0 through 6 {
  .line-clamp-#{$i} {
    display: -webkit-box;
    line-clamp: #{$i};
    -webkit-line-clamp: #{$i};
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    width: inherit;
    overflow-wrap: break-word;
    hyphens: manual;
  }
}

.mat-mdc-text-field-wrapper {
  background-color: white;
}
