$ba-default: (
  50: #eff1f5,  
  100: #bcc5d4,  
  200: #8f9db4,  
  300: #617593,  
  400: #40557c,  
  500: #374151,  
  600: #313b49,  
  700: #2b3441,  
  800: #252e39,  
  900: #1c2330,  
  A100: #d0d7e6,  
  A200: #a3b5d4,  
  A400: #6c89ba,  
  A700: #5971a0,  
  contrast: (
    50: #222222,
    100: #222222,
    200: #222222,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #222222,
    A200: #222222,
    A400: #ffffff,
    A700: #ffffff,
  )
);

$ba-secondary: (
  50: #fff1e4,  
  100: #ffdcb5,  
  200: #ffc482,  
  300: #ffac4f,  
  400: #ff9632,  
  500: #f4a261,  
  600: #ec8c1d,  
  700: #e57f17,  
  800: #de7111,  
  900: #d7620a,  
  A100: #ffffff,  
  A200: #ffe0b2,  
  A400: #ffab40,  
  A700: #ff9100,  
  contrast: (
    50: #222222,
    100: #222222,
    200: #222222,
    300: #222222,
    400: #222222,
    500: #222222,
    600: #222222,
    700: #222222,
    800: #222222,
    900: #ffffff,
    A100: #222222,
    A200: #222222,
    A400: #222222,
    A700: #222222,
  )
);

//Overwrite bootstrap 
$primary: #313b49 !default;
$secondary: #f4a261 !default;
$body-bg: #eff1f5; 