
ngx-skeleton-loader {
    line-height: 0;
    display: block;
    .skeleton-loader {
        margin-bottom: 0!important;
    }
    
    .skeleton-loader.circle {
        margin: 0!important;
    }
}
