.oswald-header {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.oswald-body-text {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.oswald-emphasis {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.font-x-small {
  font-size: 10px;
  line-height: 12px;
}

.font-small {
  font-size: 12px;
  line-height: 14px;
}

.font-medium {
  font-size: 14px;
  line-height: 16px;
}

.font-large {
  font-size: 16px;
  line-height: 18px;
}
