/* You can add global styles to this file, and also import other style files */
@use "@angular/material" as mat;
@import "./material-icons.scss";
@import "./_general.scss";
@import "./_pallete.scss";
@include mat.elevation-classes();
@include mat.app-background();

$ba-app-primary: mat.m2-define-palette($ba-default);
$ba-app-scondary: mat.m2-define-palette($ba-secondary);
$my-accent: mat.m2-define-palette(mat.$m2-pink-palette, A200, A100, A400);

$my-theme: mat.m2-define-light-theme(
  (
    color: (
      primary: $ba-app-primary,
      accent: $ba-app-scondary,
    ),
    typography: mat.m2-define-typography-config(),
    density: 0,
  )
);

@include mat.all-component-themes($my-theme);

@import "./modal.scss";
@import "./typography.scss";
@import "./skeleton-loader.scss";
@import "bootstrap/scss/bootstrap";
@import "ngx-toastr/toastr-bs5-alert";
@import "ngx-owl-carousel-o/lib/styles/scss/owl.carousel";
@import "ngx-owl-carousel-o/lib/styles/scss/owl.theme.default";
