:host {
    ::ng-deep {
        .mat-mdc-card {
            transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
            &:hover {
                cursor: pointer;
                transform: scale(1.02);
                box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
                background-color: #f5f5f5;
                outline: 1px solid var(--c-primary);

                .animated-icon-pulse {
                    animation: pulse 2s infinite;
                  }
                  
                  @keyframes pulse {
                    0% {
                      transform: scale(1);
                    }
                    50% {
                      transform: scale(1.2);
                    }
                    100% {
                      transform: scale(1);
                    }
                  }
            }
        }
        .mat-mdc-card-content {
            padding: 0!important;
        }
    }
}

.barbershop-container {
    display: grid;
    justify-content: center;
    align-items: stretch;
    grid-template-columns: repeat(auto-fill, minmax(345px, 1fr));
    gap: 16px;
    grid-auto-rows: 160px;

    &.empty {
      grid-template-columns: repeat(1, 1fr);
    }

    .barbershop-logo {
      max-width: 75px;
      width: 75px;
      max-height: 75px;
      height: 75px;
      object-fit: cover;
  }
}

.not-found-container {
    font-size: 18px;
    font-weight: 400;
}

.truncate-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  overflow-wrap: break-word;
}
