<lib-modal-body [alignActions]="isLoading() ? 'center' : 'end'">
    <ng-container slot="modal-content">
      <form class="d-flex flex-column">
        <div class="row mb-4">
          <h4>
            <span [transloco]="I18N_PREFFIX + 'title'"></span>
          </h4>
        </div>
        <div class="row row-gap-2">
  
          <div class="col-lg-6 col-12">
            <lib-input
              placeholder="Email"
              [type]="IInputType.EMAIL"
              [label]="I18N_PREFFIX + 'email-label' | transloco"
              [formControlRef]="newClientForm.controls.email"
            >
            </lib-input>
          </div>
          <div class="col-lg-6 col-12">
              <lib-input
                placeholder="Username"
                [label]="I18N_PREFFIX + 'username-label' | transloco"
                [formControlRef]="newClientForm.controls.username"
              >
              </lib-input>
            </div>
          <div class="col-lg-6 col-12">
              <lib-telephone-input 
                  inputId="userTelephone" 
                  [placeholder]="I18N_PREFFIX + 'phone-label' | transloco"
                  [formControlRef]="newClientForm.controls.telephone">
              </lib-telephone-input>
          </div>
          <div class="col-lg-6 col-12">
            <lib-input
              placeholder="Password"
              [label]="I18N_PREFFIX + 'password-label' | transloco"
              [formControlRef]="newClientForm.controls.password"
            >
            </lib-input>
          </div>
        </div>
      </form>
    </ng-container>
  
    <ng-container slot="modal-actions">
      @if (isLoading()) {
        <lib-spinner></lib-spinner>
      } @else {
        <button mat-button (click)="close()">
          <span [transloco]="'shared.cancel'"></span>
        </button>
        <button
          [disabled]="newClientForm.invalid"
          mat-raised-button
          (click)="createNewBarber()"
          color="primary"
          cdkFocusInitial
        >
          <span [transloco]="'shared.create'"></span>
        </button>
      }
      
    </ng-container>
  </lib-modal-body>
  